<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="Víctor Ubieto" content="web-blog">
    <title>VBlog - Projects</title>
    <link rel="icon" type="image/x-icon" href="/icons/AC_leaf.png">

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="header">
        <div><h1>My Projects</h1></div>
        <div class="menu">
            <a href="/index.html">Home</a>
            <a href="/views/projects.html">Projects</a>
            <div class="about">
                <a href="/views/about.html">About me</a>
            </div>
        </div>
    </div>

    <div class="content">
        <h1>Content</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id delectus culpa sunt! Quae voluptatem dicta, et
            porro laboriosam nesciunt debitis.</p>
        <p>Iure eos similique accusantium asperiores quis? Quaerat, voluptatum? Incidunt, saepe nostrum at sunt
            exercitationem accusamus laborum delectus sapiente tempora ex.</p>
        <p>Vitae enim ut, quaerat esse assumenda deserunt, repudiandae architecto dolores porro consectetur eligendi
            eos. Consectetur eveniet obcaecati aperiam optio cum?</p>
        <p>Est corporis nisi voluptatibus explicabo assumenda qui fugit modi. Perferendis at dolorem doloremque maxime
            repellat aperiam ut, impedit cumque fuga?</p>
    </div>
</body>

</html>